body { background: #181fff; }
b {font-family: Impact; }
header { margin-top: 50px; }
header a { color: #ff1e1e; text-decoration: none; }
header a:hover { text-decoration: none; }
form { margin-top: 20px; }
form, #results { padding: 0 20px; }
.item { margin-bottom: 25px; }
.w100 { width: 100%; }

.btn-primary { background: black; border-color: white; }
.btn-primary:hover, .btn-primary:active, .btn-primary:focus { background: #ff1e1e;  border-color: #F0E68C; }
